<launch>
  <!-- Arguments -->
  <arg name="slam_methods" default="hector" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
  <arg name="configuration_basename" default="robot_lds_2d.lua"/>
  <arg name="open_rviz" default="true"/>

  <include file="$(find robot_bringup)/launch/robot_remote.launch"/>


  <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
  <include file="$(find robot_slam)/launch/robot_$(arg slam_methods).launch">
    <arg name="configuration_basename" value="$(arg configuration_basename)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find robot_slam)/rviz/robot_$(arg slam_methods).rviz"/>
  </group>
</launch>
