<launch>
  <arg name="stage" default="3"/>
  <param name="stage_number"  value="$(arg stage)"/>
  <node pkg="robot_dqn" type="robot_dqn_moving_obstacle" name="robot_dqn_moving_obstacle" output="screen" />
  <node pkg="robot_dqn"  type="moving_obstacle" name="moving_obstacle" output="screen" />
</launch>
