<launch>
  <arg name="open_rviz" default="true"/>

  <node name="lifecam" pkg="uvc_camera" type="uvc_camera_node">
    <param name="device" type="string" value="/dev/video2"/>
    <param name="width" type="int" value="640"/>
    <param name="height" type="int" value="480"/>
    <param name="fps" type="int" value="10"/>
    <remap from="/image_raw" to="/sensor/camera/color/left/image_rect"/>
  </node>

  <include file="$(find robot_bringup)/launch/robot_remote.launch"/>

  <include file="$(find laserscan_to_pointcloud)/launch/laserscan_to_pointcloud_assembler.launch"/>

  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find robot_bringup)/rviz/robot_limo.rviz"/>
  </group>

  <node pkg="robot_bringup" type="robot_diagnostics" name="robot_diagnostics" output="screen"/>
</launch>
