<launch>
  <include file="$(find robot_bringup)/launch/robot_remote.launch"/>

	<node pkg="stereo_image_proc" type="stereo_image_proc" name="" respawn="true">
		<remap from="/left/image_raw" to="/camera_left/image_raw"/>
    	<remap from="/left/camera_info" to="/camera_left/camera_info"/>
    	<remap from="/right/image_raw" to="/camera_right/image_raw"/>
    	<remap from="/right/camera_info" to="/camera_right/camera_info"/>
    	<param name="approximate_sync" value="True" />
    	<param name="queue_size" value="10" />
	</node>

	<node pkg="image_view" type="stereo_view" name="" respawn="true" output="screen">
		<remap from="stereo" to="/"/>
		<remap from="image" to="image_rect"/>
		<param name="approximate_sync" value="True" />
		<param name="queue_size" value="10" />
	</node>



	<node pkg="rviz" type="rviz" name="rviz" required="true"/>
</launch>