
<launch>
  <node name="camera" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="camera_left_link" />
    <param name="io_method" value="mmap"/>
    <param name="camera_name" value="camera_left"/>
    <param name="framerate" value="5"/>
    <param name="focus_auto" value="false"/>
    <param name="camera_info_url" type="string" value="file://$(find robot_bringup)/launch/includes/camera_logitech.yaml"/>
  </node>
<node pkg="monodepth" type="monodepth.py" name="monodepth" output="screen" respawn="true">
    <param name="topic_color" value="/camera/image_raw"/>
    <param name="topic_depth" value="/camera/depth"/>
</node>
</launch>